.wrapper {
  margin-top: 1.5em;

  @media only screen and (min-width: 750px) {
    margin-top: 3em;
  }

  &.bottom {
    margin-top: 0;
    margin-bottom: 1.5em;

    @media only screen and (min-width: 750px) {
      margin-bottom: 3em;
    }
  }

  &.inline {
    display: inline;
  }
}

.emoji {
  display: inline-block;
  font-size: 2rem;
  vertical-align: -0.1em;
  cursor: default;
  transform-origin: bottom right;

  &.right {
    margin-right: 0.3em;
  }

  &.inline {
    margin-left: 0.3em;
  }
}