body {
  font-family: $font-family-body;
  font-weight: 300;
  font-size: $font-size-base-max * 1px;
  font-size: calc(($font-size-base-min * 1px) + ($font-size-base-max - $font-size-base-min) * ((100vw - 400px) / (1600 - 400)));
  color: $color-white;
  background-image: url('/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-color: $color-black;

  @supports (background-image: url('/bg.webp')) {
    background-image: url('/bg.webp');
  }
}

p {
  letter-spacing: 1px;
  line-height: 1.8;
  margin: 1.5em 0;

  a {
    color: inherit;
    text-decoration: underline;
    position: relative;
    overflow: hidden;
    padding: 0 0.2em;
    color: $color-orange;
  }
}

ul {
  margin: 1em 0;
}

a {
  color: $color-orange;
}
