.title {
  font-size: calc(($font-size-big-min * 1px) + ($font-size-big-max - $font-size-big-min) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 500;
  text-transform: lowercase;
  margin: 0;
  color: $color-white;

  span {
    color: $color-grey;
  }

  &:hover {
    span {
      color: $color-white;
    }
  }
}

.link {
  &:hover {
    border-bottom: none;
    cursor: pointer;
  }
}