$font-family-body: var(--font-fira-mono), 'Courier New', Courier, monospace;
$font-family-heading: var(--font-fira-mono), 'Courier New', Courier, monospace;
$font-size-base-min: 12;
$font-size-base-max: 15;
$font-size-big-min: 14;
$font-size-big-max: 18;
$font-weight-light: 300;
$font-weight-normal: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;

$color-white: #f5f5f5;
$color-lightgrey: #dddddd;
$color-midgrey: #aaaaaa;
$color-grey: #888888;
$color-darkgrey: #444444;
$color-black: #1a1a1a;
$color-red: #FF7474;
$color-sipink: #E54C87;
$color-orange: #FFB200;