$font-family-body: var(--font-plex-sans), 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-heading: var(--font-montserrat), 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base-min: 15;
$font-size-base-max: 18;
$font-size-big: 1.7rem;


$color-white: #f5f5f5;
$color-lightgrey: #dddddd;
$color-midgrey: #aaaaaa;
$color-grey: #888888;
$color-darkgrey: #333333;
$color-black: #1a1a1a;
$color-red: #FF7474;
$color-sipink: #E54C87;