.button {
  display: inline-block;
  padding: 0.1em;
  background: transparent;
  color: $color-white;
  border: none;
  box-shadow: none;
  cursor: pointer;
  margin-right: .8rem;
  font-size: 1.5em;
}