.container {
  display: flex;
  cursor: default;
  align-items: flex-start;

  &:hover .links {
    display: flex;
  }
}

.status {
  display: flex;
  align-items: center;
  text-transform: lowercase;

  strong {
    margin-right: 0.5em;
  }
p {
  margin: 0;
}
}

.links {
  display: flex;
  align-items: center;
  margin-left: 1rem;

  &:not(.playing) {
    display: none;
  }

  a {
    font-size: .8em;
    margin-right: 1em;
    color: $color-white;

    svg {
      margin-left: 0.5em;
      vertical-align: super;
      font-size: .7em;
    }
  }
}