.thanks {
  margin: 4rem 0;
  font-weight: 500;
  line-height: 1.8;
}

.form {
  margin: 4rem 0 4.2rem;
}

.element {
  padding: 1rem 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }

  label {
    color: $color-white;
    display: block;
    font-weight: 500;
  }

  input {
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-size: $font-size-big;
    color: $color-white;
    border-bottom: 2px solid $color-darkgrey;
    padding: 0.3em 0;
    margin: 0.2em 0;

    ::placeholder {
      opacity: 0.3;
    }

    &:focus {
      border-bottom-color: $color-grey;
    }

    &.error {
      border-bottom-color: $color-red;

      &:focus {
        border-bottom-color: $color-red;
      }
    }
  }

  textarea {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: $font-size-big;
    color: $color-white;
    border-bottom: 2px solid $color-darkgrey;
    padding: 0.3em 0;
    margin: 0.2em 0;
    overflow: hidden;
    line-height: 1.4;

    ::placeholder {
      opacity: 0.3;
    }

    &:focus {
      border-bottom-color: $color-grey;
    }

    &.error {
      border-bottom-color: $color-red;

      &:focus {
        border-bottom-color: $color-red;
      }
    }
  }
}

.error {
  margin: 0.5em 0;
  color: $color-red;
}