.container {
  position: relative;
  display: block;
  cursor: default;

  &:hover .links {
    display: flex;
  }
}

.status {
  font-size: 0.9em;
  display: flex;
  align-items: center;

  strong {
    margin-right: 0.5em;
  }
}

.links {
  position: absolute;
  display: none;
  align-items: center;
  width: 100%;

  a {
    font-size: .8em;
    margin-right: 1em;
    color: $color-white;

    svg {
      margin-left: 0.5em;
      vertical-align: super;
      font-size: .7em;
    }
  }
}