.subtitle {
  font-family: $font-family-heading;
  font-weight: 600;
  margin: 2em 0 1em;
  font-size: calc(($font-size-big-min * 1px) + ($font-size-big-max - $font-size-big-min) * ((100vw - 400px) / (1600 - 400)));

  span {
    color: $color-orange;
  }
}